.profile-data {
	max-width: 420px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
	img {
		margin-bottom: 20px;
	}
	h3 {
		font-size: $big;
		text-transform: uppercase;
		font-style: italic;
		font-weight: 600;
	}
}
