.video__data {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	.video__title {
		text-transform: uppercase;
		font-size: $big;
		margin-bottom: 10px;
	}
	.video__metadata {
		font-size: $medium;
		font-weight: 100;
		display: flex;
		flex-direction: column;
		color: $gray;
		.video__owner {
			a {
				text-decoration: underline;
			}
		}
		.video__date {
			margin: 10px 0px;
		}
	}
}

.video__comments {
	display: flex;
	flex-direction: column;
	max-width: 320px;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	.video__comment {
		padding: 10px;
		border-radius: 9999px;
		background-color: white;
		color: black;
		margin-bottom: 10px;
	}
}
