.video__data {
	padding: 0px 10px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	.video__header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		.video__title {
			text-transform: uppercase;
			font-size: $big;
			font-weight: 600;
			margin-bottom: 10px;
		}
		.video__btns {
			display: flex;
			font-size: $medium;
			font-weight: 100;
			a:first-child {
				margin-right: 10px;
			}
			a:hover {
				color: red;
			}
		}
	}
	.video__metadata {
		font-size: $medium;
		font-weight: 100;
		display: flex;
		flex-direction: column;
		color: $gray;
		.video__owner {
			a {
				text-decoration: underline;
			}
		}
		.video__date {
			margin: 10px 0px;
		}
	}
}

.video__add-comments {
	.video__comment-form {
		display: flex;
		textarea {
			background-color: transparent;
			border: none;
			border-bottom: 1px solid $gray;
			color: $white;
			&::placeholder {
				text-transform: uppercase;
				font-weight: 100;
				font-style: italic;
				font-size: $small;
			}
		}
		button {
			margin-left: 10px;
			color: $white;
			font-size: $big;
			font-weight: 100;
			background-color: transparent;
			border: none;
			cursor: pointer;
			&:hover {
				color: red;
			}
		}
	}
}

.video__comments {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 20px;
	.video__comment {
		display: flex;
		align-items: center;
		padding: 10px;
		color: white;
		margin-bottom: 20px;
		border-bottom: 1px solid $washedgray;
		font-weight: 100;
		.comment__owner {
			margin-right: 10px;
			color: $gray;
		}
		.delete__icon {
			font-size: $xsmall;
			color: $gray;
			margin-left: 10px;
			cursor: pointer;
			&:hover {
				color: red;
			}
		}
	}
}
