form {
	max-width: 420px;
	margin: 50px auto;
	padding: 20px;
}

input:not(input[type="range"]) {
	all: unset;
	padding: 15px 20px;
	border-radius: 30px;
	margin-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.1);
	font-size: $default;
	color: white;
	width: 90%;
	&::placeholder {
		text-transform: uppercase;
		font-style: italic;
		font-size: $small;
	}
}

input[type="submit"] {
	background-color: red !important;
}

input[type="submit"],
.social__btn {
	display: block !important;
	padding: 10px 20px !important;
	border-radius: 30px !important;
	text-transform: uppercase !important;
	font-style: italic !important;
	font-size: $medium !important;
	text-align: center !important;
	cursor: pointer !important;
}
