header {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-style: italic;
	section {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.header__title {
			font-size: 80px;
			color: red;
			margin-right: 10px;
			&:hover {
				color: white;
			}
		}
		.header__btns {
			.header__loggedOut {
				span:first-child {
					margin-right: 10px;
				}
			}
		}
	}
	.nav__bar {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: $small;
		span {
			&:hover {
				color: red;
			}
		}
	}
	.header__avatar {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
}
