.video-grid {
	display: grid;
	gap: 50px;
	grid-template-columns: repeat(4, minmax(0, 1fr));
}

.empty__message {
	grid-column: span 4;
	margin: 50px 0px;
	text-align: center;
	font-size: $default;
	text-transform: uppercase;
	font-style: italic;
}

.auth-switch {
	text-transform: uppercase;
	font-style: italic;
	text-align: center;
	font-size: $medium;
	opacity: 0.5;
	a {
		text-decoration: underline;
	}
	&:hover {
		opacity: 1;
	}
}

.avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
