.video-mixin {
	.video-mixin__thumb {
		height: 180px;
		border-radius: 30px;
		width: 100%;
		background-color: white;
		&:hover {
			border: 2.5px solid red;
		}
	}
	.video-mixin__data {
		padding: 0px 15px;
		.video-mixin__title {
			display: block;
			margin-top: 10px;
			font-size: $default;
			text-transform: uppercase;
			font-weight: 600;
		}
		.video-mixin__meta {
			margin-top: 10px;
			font-size: $small;
			opacity: 0.5;
			color: $gray;
		}
	}
}
