extends base

block content
    //- encoding type to send files to backend
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        label(for="avatar") Profile Image
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(name="name", type="text", placeholder="Name", value=loggedInUser.name, required)
        input(name="email", type="email", placeholder="Email", value=loggedInUser.email, required)
        input(name="username", type="text", placeholder="Username", value=loggedInUser.username, required)
        input(name="location", type="text", placeholder="Location", value=loggedInUser.location, required)
        input(type="submit", value="Update")
        if !loggedInUser.socialOnly
            div.edit-profile__password
               a(href="change-password") Change Password