header
    section 
        div 
            a(href="/").header__title
                span YouTube
            a(href="/search").header__search
                i.fas.fa-search
        nav.header__btns
            if loggedIn 
                span
                    a(href="/users/logout") Logout
                span
                    a(href=`/users/${loggedInUser._id}`)
                        if !loggedInUser.avatarUrl
                            span HAHA
                        else
                            if loggedInUser.avatarUrl
                                if loggedInUser.avatarUrl.includes("github")
                                    img.header__avatar(src=loggedInUser.avatarUrl,crossorigin)
                                else
                                    img.header__avatar(src=loggedInUser.avatarUrl)
                span 
                    a(href=`/users/${loggedInUser._id}`) My Profile
                span 
                    a(href="/users/edit") Edit Profile
            else
                span 
                    a(href="/join") Join
                span 
                    a(href="/login") Login
    nav.nav__bar
        if loggedIn
            span
                a(href="/videos/upload") Upload Video