header
    section 
        a(href="/").header__title
            i.fab.fa-youtube
        form(method="GET" action="/search/").search__form 
            input(type="text", name="keyword", placeholder="Search")
        nav.header__btns
            if loggedIn 
                span
                    a(href="/users/logout") Logout
                span
                    a(href=`/users/${loggedInUser._id}`)
                        if !loggedInUser.avatarUrl
                            span :)
                        else
                            if loggedInUser.avatarUrl
                                if loggedInUser.avatarUrl.includes("github")
                                    img.header__avatar(src=loggedInUser.avatarUrl,crossorigin)
                                else
                                    img.header__avatar(src=loggedInUser.avatarUrl)
                span 
                    a(href=`/users/${loggedInUser._id}`) My Profile
                span 
                    a(href="/users/edit") Edit Profile
            else
                span 
                    a(href="/join") Join
                span 
                    a(href="/login") Login
    nav.nav__bar
        if loggedIn
            span
                a(href="/videos/upload") Upload Video